*
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%
}

body {
	font-family: roboto;
}

/* Header */


.logo {
	margin-top: 30px;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 0px;
	font-weight: 300;
	color: #2b3f4c;
	display: inline-block;
}

.company_name {
	display: inline-block;
}

.company_name:before {
	background-image: url(../images/icon_sprite.png);
	content: '';
	height:60px;
	width: 60px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.header_image {
	background-image: url(../images/intro_bg.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	width: 100%;
	background-color: #e77e04
}

.subheader {
	height: 450px;
	position: relative;
	margin-top: 50px;
}

.intro_phone {
	float: right;
	height: 554px;
}

.intro_phone img {
	display: block;
	overflow: visible;
	position: absolute;
	bottom: 0px;
	right: 80px;
}

h2 {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 70px;
	color: #fff;
	margin: 0px;
	padding-top: 60px
}

p {
	font-family: 'Roboto';
}

.niceshottext {
	font-size: 20px;
	font-weight: 100;
	line-height: 40px;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 5px;
}


.download_button {
	font-size: 20px;
	color: #e77e04;
	background-color: #fff;
	width: 200px;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 10px;
	display: inline-block;
}

.download_button:visited {
	color: #e77e04;
}

.download_button:link {
	color: #e77e04;
	text-decoration: none;
}

.download_button:hover {
	color: #fff;
	background-color: #e77e04;
}

@media screen and (max-width: 979px){
	.intro_phone img {
		right: 0px;
	}
}

@media screen and (max-width: 739px){
	.intro_phone img {
		display: none;
	}
	.subheader {
		text-align: center;
	}
}

/* Three Items */

.options {
	margin-top: 70px;
	margin-bottom: 70px;
}
h3 {
	font-family: "Roboto Condensed";
	font-weight: 300;
	font-size: 26px;
	color: #e77e04;
	margin-bottom: 10px;
	margin-top: 0px;
	text-align: center;
}

.features {
	font-weight: 300;
	font-size: 14px;
	line-height: 30px;
	color: #777;
	text-align: center;

}

.options_specific h3:before {
	background-image: url(../images/icon_sprite.png);
	content: '';
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px
}

.options_cloud h3:before {
	background-position: 0px -120px;
	height: 65px;
	width: 65px;
}

.options_map h3:before {
	background-position: -80px -120px;
	height: 65px;
	width: 75px;
}

.options_life h3:before {
	background-position: -160px -120px;
	height: 65px;
	width: 50px;
}

/* thumbnail images */

h4 {
	font-family: "roboto condensed";
	font-size: 36px;
	font-weight: 300;
	color: #2b3f4c;
	margin-bottom: 10px;
}

.life_body_copy {
	font-weight: 300;
	font-size: 14px;
	line-height: 30px;
	color: #777;
}

.photo_thumbnails {
	background-color: #eee;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

.photo_thumbnails img {
	padding-top: 5px;
	padding-bottom: 5px;
}

@media screen and (max-width: 979px){
	h4 {
		margin: 0px;
	}
	.photo_thumbnails {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

/* download buttons */

.purchase {
	margin-top: 100px;
	margin-bottom: 100px;
}

h5 {
	font-family: "roboto condensed";
	font-size: 42px;
	font-weight: 300;
	color: #e77e04;
	margin: 0px;
	text-align: center;
}

.download_body_copy {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #777;
	text-align: center;
}

.download {
	text-align: center;
}

.download_devices {
	background-color: black;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	height: 55px;
	width: 200px;
	display: inline-block;
	border-radius: 2px;
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	text-align: center;

}

.download_apple {
	background-position: center -200px;
}

.download_google {
	background-position: center -260px;
}

.download_amazon {
	background-position: center -320px;
}

@media screen and (max-width: 739px){
	.purchase {
	margin-top: 30px;
	margin-bottom: 30px;
}

	.download_devices {
		width: 100%;
		margin-top: 5px
	}

}

/* legal */

.footer_box {
	border-top: solid 2px #eee;
}

.legal {
	font-family: roboto;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
	margin-top: 10px;
}


.support, .privacy {
	color: #2b3f4c;
	text-decoration: none;
	padding-right: 10px
}

.copyright {
	color: #777;
	text-decoration: none;
}



.legal, .privacy a:visited {
	color: #2b3f4c;
}

.legal, .privacy a:link {
	color: #2b3f4c;
	text-decoration: none;
}

.copyright a:visited {
	color: #2b3f4c;
}

.copyright .privacy a:link {
	color: #2b3f4c;
	text-decoration: none;
}

.social_links {
	line-height: 0px;
	text-decoration: none;
	text-align: right;
}

.social {
	background-color: black;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	height: 36px;
	width: 38px;
	display: inline-block;
	border-radius: 6px;
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
}

.facebook {
	background-position: -80px -2px;
}

.twitter {
	background-position: -120px -2px;
}

.google_plus {
	background-position: -160px -2px;
}

@media screen and (max-width: 739px){
	.legal {
		text-align: center;
		margin-top: 0px;
	}
	.social_links {
		text-align: center;
	}
}
