*
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%
}

body {
	font-family: lato;
	padding: 0px;
	margin: 0px;
}

h1 {
	font-family: sanchez;
	font-size: 60px;
	color: #fff;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

h2 {

}

h3 {
	font-size: 22px;
	color: #ccc;
	text-align: center;
	line-height: 36px;
	font-weight: 300;

}

header {
	color: #222;
	background-image: url(../images/header.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	background-color: #AC8420;

}

.smaller {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 80px;
}

.large_logo {
	margin: 0px;
	padding-top: 100px;
}

.large_logo img {
	display: block;
	margin: 0px auto;
}

.menu {
	background-color: #AC8420;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 100px;
	padding-bottom: 100px;
}

/* menu */

table {
	width: 50%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;

}

caption {
	font-family: sanchez;
	font-style: condensed;
	font-size: 32px;
	font-color: #222;
	padding: 20px;
}

tr {
	color: white;
}

td {
	padding: 20px;
	border-bottom: solid 2px #9B761C;
	margin: 0px;
}

td:nth-child(even) {
	color: #DECC9C;
}

.espressobar {
	padding-top: 20px;
}

/* Hours and Location */

.hourslocation {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 100px;
}

.interior {
	float: right;
	padding-left: 30px;
	padding-bottom: 30px;
}

.specifics {
	color: #666;
	font-size: 16px;
	line-height: 24px

}

.hourstitle {
	color: #222;
	font-family: sanchez;
	font-size: 26px;
}

.directions {
	margin-top: 50px;
}

.directions a {
	color: #AC8420;
	border: solid 2px;
	width: 180px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
}


.directions a:visited {
	color: #AC8420;
}

.directions a:link {
	color: #AC8420;;
	text-decoration: none;
}

.directions a:hover {
	background-color: #AC8420;
	background-size: cover;
	color: white;
}

footer {
	clear: both;
	display: block;
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #222;
}

.info {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.social_links {
	display: inline;
}

.bottom ul {
	margin: 12px 0px 12px 0px;
	font-size: 12px;
	color: #fff;
	font-family: lato;
	font-weight: 300;
	letter-spacing: 3px

}

.social_links a {
	float: right;
	color: white;
	font-weight: 300;
	padding-top: 0px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 0px
}

.social_links a:link {
	text-decoration: none;
}

.social_links a:hover {
	color: #AC8420;
}

.subtext {
	font-size: 12px;
	color: #fff;
	font-family: lato;
	font-weight: 300;
	letter-spacing: 3px
}


.bottom {
	display: inline-block;
	float: left;
	width: 33%;
	margin: 0px auto;

}

.bottom img {
	display: block;
	margin: auto;
}

